.DS_Store
.env.local
.eslintcache
.next
.nx/cache
.serverless
.vscode/
lerna-debug.log
node_modules
out
subgraph-api/.env*
# information from docker-compose
subgraphs/data
# Graph CLI generated artifacts
subgraphs/*/build
subgraphs/*/generated
tsconfig.tsbuildinfo
