.DS_Store
.env.local
.eslintcache
.next
.nx/cache
.serverless
.vscode/
lerna-debug.log
node_modules
out
subgraph-api/.env*
# information from docker-compose
subgraphs/data
# Graph CLI generated artifacts
subgraphs/hemi-stake-operations-subgraph/build
subgraphs/hemi-stake-operations-subgraph/generated
subgraphs/hemi-tunnel-btc-deposits-subgraph/build
subgraphs/hemi-tunnel-btc-deposits-subgraph/generated
subgraphs/hemi-tunnel-deposits-subgraph/build
subgraphs/hemi-tunnel-deposits-subgraph/generated
subgraphs/hemi-tunnel-withdrawals-proof-claim-subgraph/build
subgraphs/hemi-tunnel-withdrawals-proof-claim-subgraph/generated
subgraphs/hemi-tunnel-withdrawals-subgraph/build
subgraphs/hemi-tunnel-withdrawals-subgraph/generated
subgraphs/hemi-token-merkle-claims-subgraph/build
subgraphs/hemi-token-merkle-claims-subgraph/generated
tsconfig.tsbuildinfo
