@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

@keyframes withdraw-progress {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/*
  Hide the reCaptcha badge
  See https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
*/
.grecaptcha-badge {
  visibility: hidden;
}
