name: Publish Docker images

on:
  push:
    branches:
      - main
    paths:
      - 'portal-backend/**'
      - 'subgraph-api/**'

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - run: |
          version=$(jq -r '.version' ${{ matrix.context }}/package.json)
          echo "VERSION=$version" >> $GITHUB_ENV
      - uses: ./.github/actions/docker-build-push
        with:
          context: ${{ matrix.context }}
          dockerHubPassword: ${{ secrets.DOCKERHUB_TOKEN }}
          dockerHubUsername: ${{ secrets.DOCKERHUB_USERNAME }}
          images: ${{ matrix.image }}
          version: ${{ env.VERSION }}
    strategy:
      matrix:
        include:
          - context: portal-backend/api
            image: hemilabs/portal-backend-api
          - context: portal-backend/cron/hemi-supply
            image: hemilabs/hemi-supply-cron
          - context: portal-backend/cron/token-prices
            image: hemilabs/token-prices-cron
          - context: portal-backend/cron/vaults-monitor
            image: hemilabs/vaults-monitor-cron
          - context: subgraph-api
            image: hemilabs/subgraph-api
