name: Docker Checks

on:
  pull_request:
    paths:
      - 'portal-backend/**'
      - 'subgraph-api/**'
  push:
    paths:
      - 'portal-backend/**'
      - 'subgraph-api/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  docker-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - run: docker build --tag ${{ github.repository }}:${{ github.sha }} ${{ matrix.context }}
      - uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # 0.29.0
        with:
          exit-code: 1
          ignore-unfixed: true
          image-ref: ${{ github.repository }}:${{ github.sha }}
          severity: HIGH,CRITICAL
          skip-dirs: /root/.npm
    strategy:
      matrix:
        context:
          - portal-backend/api
          - portal-backend/cron/hemi-supply
          - portal-backend/cron/token-prices
          - portal-backend/cron/vaults-monitor
          - subgraph-api
