name: Hostinger Deployment

on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: false

jobs:
  deploy:
    environment: ${{ github.event_name == 'release' && 'production' || 'staging' }}
    runs-on: ubuntu-latest
    steps:
      - uses: bloq/actions/notify-deploy-to-slack@7a00bde576f8383a7afabf48dc6153bd7a7daab7 # v1.6.0
        with:
          app-name: Hemi Portal
          environment: ${{ vars.ENVIRONMENT_NAME }}
          reference: ${{ github.event_name == 'release' && github.event.release.name || github.event.head_commit.message }}
          slack-mention: ${{ vars.SLACK_MENTION }}
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: 'started :stopwatch:'
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: hemilabs/actions/setup-node-env@06d5e0813de21d92283163864cce2e95ec5b67c6 # v1.0.0
      - uses: ./.github/actions/deploy-portal
        with:
          HOSTINGER_HOST: ${{ secrets.HOSTINGER_HOST }}
          HOSTINGER_PORT: ${{ secrets.HOSTINGER_PORT }}
          HOSTINGER_SSH_KEY: ${{ secrets.HOSTINGER_SSH_KEY }}
          HOSTINGER_TARGET: domains/${{ vars[vars.HEMI_DOMAIN] }}/public_html/${{ vars.HEMI_TARGET_FOLDER }}
          HOSTINGER_USER: ${{ secrets.HOSTINGER_USER }}
          NEXT_PUBLIC_ANALYTICS_URL: ${{ vars.NEXT_PUBLIC_ANALYTICS_URL }}
          NEXT_PUBLIC_ANALYTICS_WEBSITE_ID: ${{ vars.NEXT_PUBLIC_ANALYTICS_WEBSITE_ID }}
          NEXT_PUBLIC_BITCOIN_PAST_VAULTS_MAINNET: ${{ vars.NEXT_PUBLIC_BITCOIN_PAST_VAULTS_MAINNET }}
          NEXT_PUBLIC_BITCOIN_PAST_VAULTS_SEPOLIA: ${{ vars.NEXT_PUBLIC_BITCOIN_PAST_VAULTS_SEPOLIA }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_MAINNET: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_MAINNET }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_SEPOLIA: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_SEPOLIA }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_MAINNET: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_MAINNET }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_SEPOLIA: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_SEPOLIA }}
          NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_MAINNET: ${{ vars.NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_MAINNET }}
          NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_SEPOLIA: ${{ vars.NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_SEPOLIA }}
          NEXT_PUBLIC_ENABLE_ANALYTICS: ${{ github.event_name == 'release' }}
          NEXT_PUBLIC_ENABLE_BTC_YIELD_CLAIM_REWARDS: ${{ vars.NEXT_PUBLIC_ENABLE_BTC_YIELD_CLAIM_REWARDS }}
          NEXT_PUBLIC_BTC_YIELD_OPPORTUNITY_ID: ${{ vars.NEXT_PUBLIC_BTC_YIELD_OPPORTUNITY_ID }}
          NEXT_PUBLIC_ENABLE_BTC_YIELD_PAGE: ${{ vars.NEXT_PUBLIC_ENABLE_BTC_YIELD_PAGE }}
          NEXT_PUBLIC_ENABLE_BTC_YIELD_TESTNET: ${{ vars.NEXT_PUBLIC_ENABLE_BTC_YIELD_TESTNET }}
          NEXT_PUBLIC_ENABLE_CLAIM_REWARDS_TESTNET: ${{ vars.NEXT_PUBLIC_ENABLE_CLAIM_REWARDS_TESTNET }}
          NEXT_PUBLIC_ENABLE_STAKE_GOVERNANCE_TESTNET: ${{ vars.NEXT_PUBLIC_ENABLE_STAKE_GOVERNANCE_TESTNET }}
          NEXT_PUBLIC_ENABLE_STAKE_TESTNET: ${{ vars.NEXT_PUBLIC_ENABLE_STAKE_TESTNET }}
          NEXT_PUBLIC_PORTAL_API_URL: ${{ vars.NEXT_PUBLIC_PORTAL_API_URL }}
          NEXT_PUBLIC_SENTRY_DSN: ${{ vars.NEXT_PUBLIC_SENTRY_DSN }}
          NEXT_PUBLIC_SUBGRAPHS_API_URL: ${{ vars.NEXT_PUBLIC_SUBGRAPHS_API_URL }}
          NEXT_PUBLIC_TRACES_SAMPLE_RATE: ${{ vars.NEXT_PUBLIC_TRACES_SAMPLE_RATE }}
          NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID: ${{ vars.NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN_PROD }} # Secret is suffixed but only defined in the production environment
          SENTRY_ENVIRONMENT: ${{ vars.ENVIRONMENT_NAME }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
          SENTRY_RELEASE: ${{ format('{0}@{1}', vars.SENTRY_PROJECT, github.event.release.name) }}
      - if: ${{ !cancelled() }}
        uses: bloq/actions/notify-deploy-to-slack@7a00bde576f8383a7afabf48dc6153bd7a7daab7 # v1.6.0
        with:
          app-name: Hemi Portal
          environment: ${{ vars.ENVIRONMENT_NAME }}
          slack-mention: ${{ vars.SLACK_MENTION }}
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: ${{ job.status == 'failure' && 'failed :boom:' || 'finished :ok:' }}
  deploy-beta:
    if: ${{ github.event_name != 'release' }}
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - uses: hemilabs/actions/setup-node-env@06d5e0813de21d92283163864cce2e95ec5b67c6 # v1.0.0
      - uses: ./.github/actions/deploy-portal
        with:
          HOSTINGER_HOST: ${{ secrets.HOSTINGER_HOST }}
          HOSTINGER_PORT: ${{ secrets.HOSTINGER_PORT }}
          HOSTINGER_SSH_KEY: ${{ secrets.HOSTINGER_SSH_KEY }}
          # Note: This line uses HEMI_TARGET_FOLDER_BETA, which is different from the deploy job above
          HOSTINGER_TARGET: domains/${{ vars.HEMI_DOMAIN_PROD }}/public_html/${{ vars.HEMI_TARGET_FOLDER_BETA }}
          HOSTINGER_USER: ${{ secrets.HOSTINGER_USER }}
          NEXT_PUBLIC_BITCOIN_PAST_VAULTS_MAINNET: ${{ vars.NEXT_PUBLIC_BITCOIN_PAST_VAULTS_MAINNET }}
          NEXT_PUBLIC_BITCOIN_PAST_VAULTS_SEPOLIA: ${{ vars.NEXT_PUBLIC_BITCOIN_PAST_VAULTS_SEPOLIA }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_MAINNET: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_MAINNET }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_SEPOLIA: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_HEMI_SEPOLIA }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_MAINNET: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_MAINNET }}
          NEXT_PUBLIC_CUSTOM_RPC_URL_SEPOLIA: ${{ vars.NEXT_PUBLIC_CUSTOM_RPC_URL_SEPOLIA }}
          NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_MAINNET: ${{ vars.NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_MAINNET }}
          NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_SEPOLIA: ${{ vars.NEXT_PUBLIC_DEFAULT_BITCOIN_VAULT_SEPOLIA }}
          NEXT_PUBLIC_ENABLE_ANALYTICS: false
          NEXT_PUBLIC_ENABLE_BTC_YIELD_CLAIM_REWARDS: ${{ vars.NEXT_PUBLIC_ENABLE_BTC_YIELD_CLAIM_REWARDS }}
          NEXT_PUBLIC_BTC_YIELD_OPPORTUNITY_ID: ${{ vars.NEXT_PUBLIC_BTC_YIELD_OPPORTUNITY_ID }}
          NEXT_PUBLIC_ENABLE_BTC_YIELD_PAGE: ${{ vars.NEXT_PUBLIC_ENABLE_BTC_YIELD_PAGE }}
          NEXT_PUBLIC_ENABLE_BTC_YIELD_TESTNET: false
          NEXT_PUBLIC_ENABLE_CLAIM_REWARDS_TESTNET: false
          NEXT_PUBLIC_ENABLE_STAKE_GOVERNANCE_TESTNET: false
          NEXT_PUBLIC_ENABLE_STAKE_TESTNET: false
          NEXT_PUBLIC_PORTAL_API_URL: ${{ vars.NEXT_PUBLIC_PORTAL_API_URL }}
          NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID: ${{ vars.NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID }}
