name: JS Checks

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  js-checks:
    uses: hemilabs/.github/.github/workflows/js-checks.yml@e67ebd8cbd2494bbdd6d674bed564e478b4d699e # v1.1.0
